.Animals{
    border: 5px;
    border-color: #0D1A63 #C0C9EE #C0C9EE #0D1A63   ;
    border-style: ridge double double ridge;
    font-size: 25px;
    border-width: 15px;
    padding: 15px;
    margin: 15px;
    font-weight: bold;


}
.Foods{
    border: 5px;
    border-color: #C40C0C #CC561E #CC561E #C40C0C  ;
    border-style: groove solid solid groove;
    font-size: 25px;
    border-width: 15px;
    padding: 15px;
    margin: 15px;
    font-weight: bold;

}
.Months{
    border: 5px;
    border-color: #D02752 #8A244B #8A244B #D02752 ;
    border-style: double ridge  ridge double;
    font-size: 25px;
    border-width: 15px;
    padding: 15px;
    margin: 15px;
    font-weight: bold;


}
.Country{
   border: 5px;
    border-color: #B153D7 #F375C2 #F375C2 #B153D7  ;
    border-style: solid groove groove solid;
    font-size: 25px;
    border-width: 15px;
    padding: 15px;
    margin: 15px;
    font-weight: bold;


}