

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


.form-box {
  background: #fff;
  border: 1px solid #ddd;        
  border-radius: 10px;            
  padding: 20px 30px;             
  width: 500px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

.form-box div {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 45%;
}

input[type="radio"] {
  margin-left: 5px;
}

button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #555555;
}
